.format div{
  float:left;
  width: 350px;
  height:575px;
  padding:10px;
  border-radius: 15px;
  text-align: center;
  margin:8px;
  box-shadow: 5px 5px 15px #000;
}

.format div:hover{
  float:left;
  width: 350px;
  height:575px;
  padding:10px;
  border-radius: 15px;
  text-align: center;
  margin:8px;
  box-shadow: 5px 5px 15px #fff;
}

.animal1{
  background-color: #f4d03f;
}

.animal2{
  background-color: #f5b041;
}
.animal3{
  background-color: #48c9b0;
}
.animal4{
  background-color: #5499c7;
}

h1{
  text-align: center;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  font-family: inherit;
}

.format div p{
  font-family:***;
  font-weight: normal;
}

body p{
  text-align: center;
  font-weight: bolder;
}
